-- Fix users table schema
ALTER TABLE users ADD COLUMN IF NOT EXISTS updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW();
ALTER TABLE users ADD COLUMN IF NOT EXISTS subscription_status TEXT DEFAULT 'inactive';
ALTER TABLE users ADD COLUMN IF NOT EXISTS subscription_id TEXT;
ALTER TABLE users ADD COLUMN IF NOT EXISTS whop_subscription_id TEXT;
ALTER TABLE users ADD COLUMN IF NOT EXISTS whop_plan_id TEXT;
ALTER TABLE users ADD COLUMN IF NOT EXISTS plan_updated_at TIMESTAMP WITH TIME ZONE;
ALTER TABLE users ADD COLUMN IF NOT EXISTS subscription_updated_at TIMESTAMP WITH TIME ZONE;

-- Update existing records
UPDATE users SET updated_at = NOW() WHERE updated_at IS NULL;
UPDATE users SET subscription_status = 'inactive' WHERE subscription_status IS NULL;
